<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOWTIME</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <link rel="stylesheet" href="datepicker.min.css">
</head>
<style>
    [x-cloak] {
      display: none;
    }
</style>
<body class="bg-gray-300 flex flex-col h-screen justify-between">
    <header class="cabecera">
        <ul class="headerul">
          <a src="logotipo" href="/views/index.ejs"> <img  src="/images/logo.png" alt="logotipo" class="logo"> </a>
          <form class="buscadorheader" action="/views/searchbar.ejs" method="get">
            <div class="form-groupSearch">
              <input type="search" class="form-control" name="search" placeholder="  Buscar" >
            </div>
          </form>
  
          <div class="uk-inline boundary botones">
            <button class="uk-button uk-button-default botonlindo" type="button">Menu</button>
              <div uk-dropdown="pos: left-top" style="position:fixed;">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active miLi"><a href="buscar.ejs">Filtros</a></li>
                    <li miLi><a "uk-button uk-button-default" href="listado.ejs" id="generos">Generos</a>
                    <li class="uk-nav-divider miLi"></li>
                </ul>
              </div>
          </div>
        </ul>
        </header>
    <div class="w-full">
        <div class="w-full max-w-xs mx-auto my-12">
            <form action="/register" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                        Username <span class="text-red-500 font-bold">*</span>
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="<%= username ? username : '' %>" id="username" type="text" name="username" required onkeypress="return avoidSpace(event)">
                    <% if (errors && errors.username_error) { %>
                        <span class="text-xs text-center text-red-400">
                            <%= errors.username_error %>
                        </span>
                    <% } %>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        Email <span class="text-red-500 font-bold">*</span>
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" value="<%= email ? email : '' %>" id="email" type="email" name="email" required onkeypress="return avoidSpace(event)">
                    <% if (errors && errors.email_error) { %>
                        <span class="text-xs text-center text-red-400">
                            <%= errors.email_error %>
                        </span>
                    <% } %>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        Password <span class="text-red-500 font-bold">*</span>
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" name="password" required onkeypress="return avoidSpace(event)">
                </div>
                <div class="mb-6 text-center">
                    <!-- This is an example component -->
                    <div class="relative inline-flex mx-auto">
                        <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                        <select class="text-sm border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-400 focus:outline-none appearance-none" name="favorite_genre">
                            <option value="Drama">What's your favourite genre?</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Horror">Horror</option>
                            <option value="Mistery">Mistery</option>
                            <option value="Anime">Anime</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Talkshow">Talkshow</option>
                            <option value="Fiction">Fiction</option>
                        </select>
                    </div>
                    <!-- <label class="block text-gray-700 text-sm font-bold mb-2" for="favorite_genre">
                        Género Favorito
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="favorite_genre" type="text" > -->
                </div>
                <div class="mb-8">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="birthdate">
                        Birthdate
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" value="<%= birthdate ? birthdate : '' %>" id="birthdate" type="date" name="birthdate">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Register
                    </button>
                    <a class="inline-block align-baseline font-bold text-xs text-blue-500 hover:text-blue-800" href="/login">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
    <footer  class="Piedepagina">
        <ul class="grupo">
          <li>
            <h2 class="nombre">Pedro Presaras</h2>
          </li>
          <li>
            <h2 class="nombre" >Alejo Gonzalez Medina</h2>
           </li>
        </ul>


      <div class="logoTmdb">
        <img src="/images/logodb.png" alt=""    href="#top" uk-scroll>
      </div>


    </footer>

<script src="datepicker.min.js"></script> 
</body>
<script>
    function avoidSpace(event) {
         var j = event ? event.which : window.event.keyCode;
         if (j == 32) return false;
    }
    
    const MONTH_NAMES = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    const DAYS = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];

    function app() {
        return {
            showDatepicker: false,
            datepickerValue: '',

            month: '',
            year: '',
            no_of_days: [],
            blankdays: [],
            days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],

            initDate() {
                let today = new Date();
                this.month = today.getMonth();
                this.year = today.getFullYear();
                this.datepickerValue = new Date(this.year, this.month, today.getDate()).toDateString();
            },

            isToday(date) {
                const today = new Date();
                const d = new Date(this.year, this.month, date);

                return today.toDateString() === d.toDateString() ? true : false;
            },

            getDateValue(date) {
                let selectedDate = new Date(this.year, this.month, date);
                this.datepickerValue = selectedDate.toDateString();

                this.$refs.date.value = selectedDate.getFullYear() +"-"+ ('0'+ selectedDate.getMonth()).slice(-2) +"-"+ ('0' + selectedDate.getDate()).slice(-2);

                console.log(this.$refs.date.value);

                this.showDatepicker = false;
            },

            getNoOfDays() {
                let daysInMonth = new Date(this.year, this.month + 1, 0).getDate();

                // find where to start calendar day of week
                let dayOfWeek = new Date(this.year, this.month).getDay();
                let blankdaysArray = [];
                for ( var i=1; i <= dayOfWeek; i++) {
                    blankdaysArray.push(i);
                }

                let daysArray = [];
                for ( var i=1; i <= daysInMonth; i++) {
                    daysArray.push(i);
                }

                this.blankdays = blankdaysArray;
                this.no_of_days = daysArray;
            }
        }
    }
</script>
</html>